PORT=3001
SOLANA_RPC_URL=https://api.devnet.solana.com
PROGRAM_ID=
AUTHORITY_KEYPAIR_PATH=
COMMISSION_BPS=1000
COMMIT_TIMEOUT_MS=30000
REVEAL_TIMEOUT_MS=15000
ROUNDS_PER_PLAYER=3
MIN_BET_LAMPORTS=100000000
DEMO_BOT_ENABLED=true
